.button__control {
  background-color: #e9e4e4;
  color: #5f6368;
  padding: 0.25em;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.button__control:hover {
  background-color: #dcdcdc;
}

.button__control img {
  width: 2em;
}

@media screen and (min-width: 27em) {
  .button__control img {
    width: 2.5em;
  }
}

@media screen and (min-width: 48em) {
  .button__control {
    padding: 0.5em;
  }

  .button__control img {
    width: 3em;
  }
}

@media screen and (min-width: 90em) and (max-width: 160em) {
  .button__control img {
    width: max(3em, 3vw);
  }
}