#play {
  background-color: #51d131; 
}

#play:hover {
  background-color: #4aae2e;
}

#pause {
  background-color: #f7b500;
}

#pause:hover {
  background-color: #e6a200;
}

#stop {
  background-color: #f44336;
}

#stop:hover {
  background-color: #e63a2d;
}

#partial {
  background-color: #00b1f7;
}

#partial:hover {
  background-color: #0099d9;
}

.button__control {
  padding: 0.75em;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.fa-solid {
  font-size: 1.5em;
  width: 1em;
}