#play {
  background-color: #51d131; 
}

#play:hover {
  background-color: #4aae2e;
}

#pause {
  background-color: #f7b500;
}

#pause:hover {
  background-color: #e6a200;
}

#stop {
  background-color: #f44336;
}

#stop:hover {
  background-color: #e63a2d;
}

#partial, #config {
  background-color: #00b1f7;
}

#partial:hover, #config:hover {
  background-color: #0099d9;
}

.button__control {
  padding: 0.75em;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.button__control[aria-description] {
  position: relative;
}

.button__control[aria-description]::after {
  content: attr(aria-description);
  width: max-content;
  background-color: var(--dark-primary-color);
  color: var(--light-font-color);
  padding: 0.5em;
  border-radius: 0.25em;
  font-size: 0.75em;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: opacity ease 0.5s;
}

.button__control[aria-description]:hover::after {
  opacity: 1;
}

.fa-solid {
  font-size: 1.5em;
  width: 1em;
}