.cronometer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.controls {
  display: flex;
  gap: 1em;
}

#partials-list {
  height: calc(100vh - 18em);
  margin-top: 1em;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.partial {
  width: 12em;
  background-color: #e9e4e4;
  font-family: "Ds-Digital", sans-serif;
  font-size: 0.5em;
  text-align: center;
  color: #000000;
  font-size: 1.5em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partial span:first-child {
  width: 1.5em;
  padding: 0.25em;
  color: #ffffff;
  font-weight: bold;
  background-color: #000000;
}

@media screen and (min-width: 27em) {
  #partials-list {
    height: calc(100vh - 21em);
  }
}
