.cronometer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    flex-grow: 1;
    margin-top: 1em;
}

.controls {
  display: flex;
  gap: 1em;
}

#partials-list {
  height: calc(90vh - 12em);
  margin-top: 1em;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  flex-wrap: 1;
}

.partial {
  width: 10em;
  background-color: #e9e4e4;
  font-family: "Ds-Digital", sans-serif;
  text-align: center;
  color: #000000;
  font-size: 1.25em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partial span:first-child {
  width: 1.5em;
  padding: 0.25em;
  color: #ffffff;
  font-weight: bold;
  background-color: #000000;
}

@media screen and (min-width: 27em) {
  .partial {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 48em) {
  #partials-list {
    height: calc(90vh - 16em);
  }
}

@media screen and (min-width: 90em) and (max-width: 160em) {
  .cronometer {
    gap: 2em;
  }

  #partials-list {
    height: calc(90vh - max(16em, 20vw));
  }

  .partial {
    font-size: max(1.5em, 2vw);
  }
}


