.cronometer {
    margin-top: 0.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
}

.controls {
  display: flex;
  gap: 1rem;
}

#partials-list {
  height: 50vh; 
  margin-top: 1rem;
  margin-bottom: 0.25em;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
  flex-grow: 1;

}

.partial {
  width: 10em;
  background-color: #e9e4e4;
  font-family: "Ds-Digital", sans-serif;
  text-align: center;
  color: #000000;
  font-size: 0.25em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25em;
}

.partial span:first-child {
  background-color: #000000;
  color: #ffffff;
  width: 1.5em;
  padding: 0.25em;
  font-weight: bold;
}


