#partials-list {
  --dark: #000000;
  --light: #ffffff;
  overflow-y: auto;
  scrollbar-color: #bebaba67 transparent;
  scrollbar-width: thin;
}

.partial {
  width: 100%;
  background-color: var(--bs-light);
  color: var(--dark);
  font-family: "Ds-Digital", sans-serif;
  font-size: 0.25em;
}

[data-bs-theme="light"] .partial {
  background-color: var(--bs-dark);
  color: var(--light);
}

.partial span:first-child {
  background-color: var(--dark);
  color: var(--light);
  width: 1.75em;
  padding: 0.25em;
}

.partial span:last-child {
  width: 8em;
  background-color: var(--dark);
  color: var(--light);
  padding: 0.25em;
}

[data-bs-theme="light"] .partial span:first-child, [data-bs-theme="light"] .partial span:last-child {
  background-color: var(--light);
  color: var(--dark);
}


