.cronometer {
    margin-top: 0.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
}

.controls {
  display: flex;
  gap: 1rem;
}

#partials-list {
  height: 50vh; 
  margin-top: 1rem;
  margin-bottom: 0.25em;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
  flex-grow: 1;
}

.partial {
  width: 20em;
  background-color: var(--dark-primary-color);
  font-family: "Ds-Digital", sans-serif;
  text-align: center;
  color: var(--light-font-color);
  font-size: 0.25em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25em;
}

body.light .partial {
  background-color: var(--light-primary-color);
  color: var(--dark-font-color);
}

.partial span:first-child {
  background-color: var(--light-font-color);
  color: var(--dark-font-color);
  width: 1.5em;
  padding: 0.25em;
  font-weight: bold;
}

.partial span:last-child {
  width: 8em;
  background-color: var(--light-font-color);
  color: var(--dark-font-color);
  padding: 0.25em;
  font-weight: bold;
}

body.light .partial span:first-child, body.light .partial span:last-child {
  background-color: var(--dark-font-color);
  color: var(--light-font-color);
}


