.display {
  font-family: "Ds-Digital", sans-serif;
  font-size: 2.5em;
  padding: 0.25em;
  border: 0.05em solid #7c7a7a;
  border-radius: 0.5em;
  display: flex;
}

.display span {
  text-align: center;
}

.display span:not(.colon) {
  width: 1.25em;
}

#miliseconds {
  width: 1.7em;
}

.colon {
  width: 0.25em;
}

@media screen and (min-width: 768px) {
  .display {
    font-size: 4em;
  }

  .display span:not(.colon) {
    width: 1.5em;
  }

  #miliseconds {
    width: 2em;
  }

  .colon {
    width: 0.25em;
  }
  
}
