.display {
  font-family: "Ds-Digital", sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  gap: 0.1em;
}

.display span {
  text-align: center;
}

.display span:not(.colon) {
  width: 1em;
}

#miliseconds {
  width: 1.5em;
}

.colon {
  width: 0.25em;
}
