.display {
  font-family: "Ds-Digital", sans-serif;
  font-size: 2.5em;
  text-align: center;
  padding: 0.25em;
  display: flex;
  justify-content: space-evenly;
  gap: 0.1em;
}

.display span {
  text-align: center;
}

.display span:not(.colon) {
  width: 1em;
}

#miliseconds {
  width: 1.5em;
}

.colon {
  width: 0.25em;
}

@media screen and (min-width: 27em) {
  .display {
    font-size: 3em;
    gap: 0.15em;
  }
}

@media screen and (min-width: 48em) {
  .display {
    font-size: 4.5em;
  }
}

@media screen and (min-width: 90em) and (max-width: 160em) {
  .display {
    font-size: max(4.5em, 5vw);
  }
}
