@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Ds-Digital";
  src: url("../assets/fonts/DS-DIGI.TTF");
  src: url("../assets/fonts/DS-DIGIB.TTF");
  src: url("../assets/fonts/DS-DIGII.TTF");
  src: url("../assets/fonts/DS-DIGIT.TTF");
}

:root {
  --dark-background-color: #000000;
  --dark-font-color: #ffffff;
  --dark-primary-color: #e9e4e4;
  --light-background-color: #ffffff;
  --light-font-color: #000000;
  --light-primary-color: #353232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-background-color);
  color: var(--dark-font-color);
}

body.light {
  background-color: var(--light-background-color);
  color: var(--light-font-color);
}

.header {
  height: 10vh;
  padding: 1em;
  font-size: 1em;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.nav {
  display: flex;
  gap: 2em;
}

.nav button {
  color: var(--dark-font-color);
  background-color: transparent;
  font-size: 1em;
  border: none;
  outline: none;
  cursor: pointer;
}

body.light .nav button {
  color: var(--light-font-color);
}

#change-theme {
  background-color: transparent;
  color: var(--dark-font-color);
  cursor: pointer;
  border: none;
  outline: none;
}

body.light #change-theme {
  color: var(--light-font-color);
}

.container {
  height: 90vh;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container:has(.timer) {
  justify-content: center;
}

@media screen and (min-width: 48em) {
  .container {
    font-size: 4.5em;
  }
}

@media screen and (min-width: 90em) {
  .header {
    font-size: 1.5em;
  }

  .container {
    font-size: 6em;
  }
}
