@font-face {
  font-family: "Ds-Digital";
  src: url("../assets/fonts/DS-DIGI.TTF");
  src: url("../assets/fonts/DS-DIGIB.TTF");
  src: url("../assets/fonts/DS-DIGII.TTF");
  src: url("../assets/fonts/DS-DIGIT.TTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
}

.header {
  height: 10vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  gap: 5em;
}

.nav button {
  background-color: transparent;
  color: #ffffff;
  font-size: 1em;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}