.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.timer__open-modal {
    font-size: 1rem;
    background-color: #f8f9fa;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.timer__controls {
    display: flex;
    gap: 1rem;
}

