.timer__modal {
    font-size: 1rem;
    padding: 1em;
    background-color: #e9e4e4;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer__modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.modal__header__close {
    background-color: transparent;
    font-size: 1.5em;
    border: none;
    outline: none;
    cursor: pointer;

}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.modal__form-inputs {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.modal__form-inputs__group {
    width: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.modal__form-inputs__group label {
    font-size: 0.8em;
}

.modal__form-inputs__group input {
    width: 4em;
    text-align: center;
    padding: 0.5em;
    border: 1px solid #ccc;
    outline: none;
}

.modal__form-actions {
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   gap: 1em;
}

.modal__form-actions button {
    padding: 0.5em 1em;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal__form-actions button[type="submit"] {
    background-color: #007bff;
}

.modal__form-actions button[type="reset"] {
    color: #000000;
}
