.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.timer__open-modal {
    font-size: 1rem;
    background-color: var(--light-background-color);
    color: var(--light-font-color);
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.timer__open-modal:disabled {
    display: none;
}

body.light .timer__open-modal {
    background-color: var(--dark-background-color);
    color: var(--dark-font-color);
}

.timer__controls {
    display: flex;
    gap: 1rem;
}

