.timer__modal {
    width: 20em;
    font-family: "Roboto", sans-serif;
    background-color: #d4d1d1;
    font-size: 1rem;
}

.timer__modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.input-group-text {
    width: 4em;
    outline: none;
    border-radius: 0;
}

